*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-display: swap;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 4rem;
    padding-top: 1rem;
}

.web-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.web-logo img{
    object-fit: contain;
    width: auto;
}

.logo-text{
    font-size: 1.1rem;
    font-weight: bold;

}

.more-option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
}
.two{
    cursor: pointer;
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bars{
    background: #222222;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
    right: -10.5px;
    bottom: -5px;
    align-items: center;
}
.bars::before,.bars::after{
    background: #222222;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: absolute;
    content: "";
}
.bars::before{
    top: 5px;
}
.bars::after{
    top: -5px;
}
.toggle{
    cursor: pointer;
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius:50%;
}
.toggle-content{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #fff;
    padding: 20%;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top: 120%; right: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: none;
}
.toggle-content a, .toggle-content>div a{
    text-wrap: wrap;
    width: 200px;
}
.toggle-content.display-content{
    display: block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.toggle-content>.help-center,.toggle-content>div{
    padding: 5px;
}
.toggle-content>hr{
    width: 100%;
}
.toggle-content>div>a{
    text-decoration: none;
    color: #1f1f1f;
}
.help-center{
    display: flex;
    align-items: center;
}
.help-center>img{
    width: 40px;
}

.hero-section{
    padding: 4rem 9rem 0 9rem;
    text-align: center;
}

.option-menue{
    position: absolute;
    /* border: 1px solid black; */
    width: 240px;
    height: fit-content;
    border-radius: 10px;
    left: 78%;
    top: 12%;
    font-weight: 500;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    padding-bottom: .6rem;
}

.option-menue p{
    padding: 1rem;
}

.option-menue p:hover{
    background: #f5f5f5;
}

input{
    position: relative;
    margin-top: .1rem;
    width: 400px;
    height: 70px;
    border-radius: 200px;
    padding-left: 2rem;
    padding-right: 6rem;
    border: none;
    background-color: #f0f0f0;
    outline: none;
    border: 1px solid rgb(218, 218, 218);
    position: relative;
    transition: 150ms;
    
}

input:hover{
    background-color: #e6e6e6;
}
.input-search{
    width: 400px;
    height: 70px;
    border-radius: 200px;
    margin-inline: auto;
    margin-top: 2rem;
}
.phone-input-search, .CTO-btn-alt{
    display: none;
}
.side-icons{
    background-color: #f12458;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 38%; right: 35%;
}

.input-search:hover{
    background-color: #e6e6e6;
}

input[placeholder]{
    font-size: 1rem;
    font-weight: bold;
}

.search-icon{
    /* height: 55px;
    width: 55px; */
    /* border-radius: 50%; */
    padding: 1rem 1.2rem;
    background-color: #f12458;
    position: absolute;
    text-align: center;
    top: 225px;
    left: 810px;
    /* width: 120px; */
    border-radius: 50%;
    /* height: 50px; */
    
}

.glass{
    font-size: .9rem;
    color: #fff;
    font-weight: bold;
    padding-left: .5rem;
    display: none;
}
h1{
    font-size: 3rem;
}   
.about-section{
    padding: 5rem 9rem 0 9rem;
}

.about{
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .67rem;
    cursor: pointer;
}

.about p{
    padding: .5rem;
    border-radius: 8px;
    color: #696969;
    font-weight: bold;
}

.about p:hover{
    background: #f1f1f1;
}

.indicator{
    background:black;
    border: 1px solid black;
    width: 45px;
    transform: translatex(6px);
}

.CTO-section{
    padding: 3.5rem 9rem 0 9rem;
}

.CTO-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(129, 129, 129);
    padding: 1.5rem 2rem;
    border-radius: 20px;
}

.CTO{
    line-height: 1.5;
}

.CTO-btn a{
    padding: 1rem 1rem;
    height: 50px;
    width: 400px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background: #f12458;
    color: #fff;
    font-weight: bold;
}


h2{
    font-weight: 550;
    font-size: 1.7rem;
}

.content-section{
    padding: 4rem 9rem 0 9rem;
}

.content-section > h2{
    margin-bottom: 2rem;
}

.content-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1rem;
}

.content-card{
    height: fit-content;
}

.content-image{
   height: 250px;
   width: 250px;
   margin-bottom: 1rem;
}

.content-image > img{
    border-radius: 10px;
}

.content-card p{
    font-size: 1.2rem;
    font-weight: 500;
}

.article-section{
    padding: 4rem 9rem 0 9rem;
}

.article-section h2{
    margin-bottom: 1.5rem;
}

.article-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.article-card a{
    color: black;
    text-decoration-line: black;
    font-size: 1.2rem;
    /* line-height: 2; */
}

.article-text{
    margin-bottom: 4rem;
}

.middle{
    margin-bottom: 3.2rem;
}



.article-text p{
    color: #444444;
    margin-top: .5rem;
}

.article-card hr{
    margin-bottom: 1rem;
}

.blog-section{
    padding: 4rem 9rem 3rem 9rem;
    background: black;
    color: #fff;
    margin-top: 2rem;
}

.blog-section h2{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.blog-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.blog-card{
    border-radius: 10px;
    background: #1f1f1f;
}

.card-text{
    background: black;
    padding-left: 1rem;
}

.blog-text{
    padding: 1rem 1rem 1.3rem;
}

.card-btn a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: .9rem;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 1.6rem;
    font-weight: bold;
}

.card-text h3{
    font-size: 1.6rem;
    margin-bottom: .9rem;
}

.card-text p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.card-text p > a{
    color: #fff;
}

footer{
    padding: 4rem 5rem 1rem 5rem;;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 2;
    gap: 10px;
    
}

ul{
    width: 200px;
}


ul li{
    list-style: none;
}

ul p{
    font-weight: bold;
}

li a{
    text-decoration-line: none;
    color: black;
    font-size: .93rem;
}

li a:hover{
    text-decoration-line: underline;
}

.copyright-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .93rem;
    margin-top: 4rem;

}

.socials .fa-brands{
    font-size: 1.3rem;
}

.socials span{
    margin-left: 1rem;
}

.copyright span{
    margin-left: 1rem;
}

.foot-globe{
    font-size: 3rem;
}

.fa-tty{
    margin-right: 1rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: #e9e9e9;
}

.search-menue{
    width: 400px;
    border-radius: 30px;
    box-shadow: 0 3px 50px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    background-color: #fff;
    left: 475px;
    top: 315px;
    display: none;
    transition: 400ms;
    overflow: hidden;
    z-index: 2;
}

.search-container div{
    padding: 1rem;
    line-height: 1;
}

.flexb{
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.flexb:hover{
    background: #f7f7f7;
}

.search-menue p{
    padding: 2rem 0 1rem 1rem;
    font-weight: bold;
}

#secondContent, #thirdContent, #fourthContent{
    display: none;
}

@media screen and (max-width:1077px) {
    .header{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    h2{
        padding-left: 40px;
        margin: 0;
    }
    .hero-section{
        width: 100vw;
    }
    .hero-section,.about-section,.article-section,.content-section,.blog-section,footer{
        margin: 0;
        padding: 0;
    }
    .side-icons{
        position: absolute;
        top: 27.5%;
        right: 30%;
        transform: translateY(-50%);
    }
    .about-section{
        width: 100vw;
        margin-top: 20px;
         padding-left: 30px;
    }
    .about-section>hr{
        width: 90vw;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .about{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        font-size: large;
    }

    .CTO-section{
        display: none;
    }
    .CTO-btn-alt {
        padding: 1rem 1rem;
        height: 50px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #f12458;
        position: relative;
        left: 130px;
        margin:20px ;
    }
    .CTO-btn-alt a{
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
    /* Tab content */
    .content-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        width: 100vw;
    }
    .content-card{
         width: 100vw;
         padding: 30px;
         display: flex;
         justify-content: center;
         align-items: baseline;
         flex-direction: column;
    }
    .content-image{
         width: 90vw;
         height:  400px;
         object-fit: contain;
    }
    .content-card>p{
        font-size: 30px;
    }
    .article-container{
       display: flex;
       justify-content: flex-start;
       align-items: center;
       flex-direction: column;
        font-size: 20px;
        padding: 0;
    }
   
    .blog-container{
        display: flex;
        flex-direction: column;
    }
    .blog-div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
    .blog-card{
        width: 400px;
    }
    /* Footer */
    .footer-container{
        padding: 30px;
    }
    .footer-container>ul li a {
        font-size: medium;
    }
    .copyright-container{
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .copyright{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .socials{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

/* Phone view */
@media screen and (max-width: 568px) {
    .header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
    }
    h1 {
        text-align: center;
    }
    .more-option{
        display: none;
    }
    .hero-section{
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .hero-section h1{
        width: 200px;
        font-size: larger;
    }
    .hero-section .input-search{
        display: none;
    }
    .phone-input-search{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        background-color: #ebebeb;
        padding: 15px 0px;
        border-radius: 30px;
        border: 1.5px solid #9e9d9d;
        font-weight: bold;
        opacity: 0.5;
    }
    .desktop-search{
        color: #f12458;
    }
    h2{
        padding-left:20px ;
    }
    .CTO-btn-alt{
        margin: 20px 0px;
        position: relative;
        left: 40px;
        width: 80%;
    }
    .about-section,.content-section, .article-section, .blog-section, .footer-container, footer{
        margin: 0; padding: 0;
        width: 100vw;
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .content-container{
        display: grid;
        grid-template-columns: repeat(1, 100vw);
    }
    .article-card> .article-text{
        font-size: large;
        text-wrap: wrap;
        width: 400px;
        padding: 10px;
    }
    .content-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .article-container{
        display: grid;
        grid-template-columns: repeat(1, 100vw);
    }
    .blog-container{
        display: flex;
        justify-content: center;
        align-items: first baseline;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .blog-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .blog-card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }
    .blog-image{
        width: 150px;
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        padding: 20px;
    }
}

/*  small Phone view */
@media screen and (max-width: 450pxpx) {
    .header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
    }
    h1 {
        text-align: center;
    }
    .more-option{
        display: none;
    }
    .hero-section{
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .hero-section h1{
        width: 200px;
        font-size: larger;
    }
    .hero-section .input-search{
        display: none;
    }
    .phone-input-search{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        background-color: #ebebeb;
        padding: 15px 0px;
        border-radius: 30px;
        border: 1.5px solid #9e9d9d;
        font-weight: bold;
        opacity: 0.5;
    }
    .desktop-search{
        color: #f12458;
    }
    h2{
        padding-left:20px ;
    }
    .CTO-btn-alt{
        margin: 20px 0px;
        position: relative;
        left: 40px;
        width: 80%;
    }
    .about-section,.content-section, .article-section, .blog-section, .footer-container, footer{
        margin: 0; padding: 0;
        width: 100vw;
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: first baseline;
        overflow-x: auto;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .content-container{
        display: grid;
        grid-template-columns: repeat(1, 100vw);
    }
    .article-card> .article-text{
        font-size: large;
        text-wrap: wrap;
        width: 400px;
        padding: 10px;
    }
    .content-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .article-container{
        display: grid;
        grid-template-columns: repeat(1, 100vw);
    }
    .blog-container{
        display: flex;
        justify-content: center;
        align-items: first baseline;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .blog-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .blog-card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }
    .blog-image{
        width: 150px;
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        padding: 20px;
    }
}
